<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div class="header__container">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><h1>NL Finances</h1></mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div>
                <div>Entre na sua conta:</div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Digite seu email:</mat-label>
                            <input matInput
                                   id="login"
                                   type="email"
                                   formControlName="login"
                            >
                        </mat-form-field>
                        <div class="error-container" *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched">
                            <small *ngIf="loginForm.get('login')?.errors?.['required']">Email é obrigatório.</small>
                            <small *ngIf="loginForm.get('login')?.errors?.['email']">Formato de email inválido.</small>
                        </div>

                    </div>

                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Digite sua senha:</mat-label>
                            <input matInput [type]="hide() ? 'password' : 'text'"
                                   id="password"
                                   type="password"
                                   formControlName="password"
                            />
                            <button
                                mat-icon-button
                                matSuffix
                                (click)="clickEvent($event)"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide()"
                            >
                                <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                            <mat-hint align="end">Esqueceu a senha? Clique aqui</mat-hint>
                        </mat-form-field>
                        <div class="error-container" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            <small *ngIf="loginForm.get('password')?.errors?.['required']">Senha é obrigatória.</small>
                        </div>
                    </div>

                    <div>
                        <label>
                            <input type="checkbox" formControlName="rememberMe"> Lembrar-me
                        </label>
                    </div>

                    <div class="content__button__container">
                        <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Entrar</button>
                    </div>
                </form>
            </div>

            <!--            <p *ngIf="errorMessage">{{ errorMessage }}</p>-->

            <mat-card-footer>
                <div class="footer__container">
                    <p><a [routerLink]="['/register']">Não tem uma conta? Registre-se!</a></p>
                </div>
            </mat-card-footer>
        </div>
    </mat-card-content>
</mat-card>
