<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div class="header__container">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><h1>NL Finances</h1></mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div>
                <div>Entre na sua conta:</div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
                    <div>
                        <app-form-field
                            label="Digite seu email:"
                            field="Email"
                            id="login"
                            type="email"
                            [control]="$any(loginForm.get('login'))"
                        ></app-form-field>


                    </div>

                    <div>
                        <app-form-field
                            label="Digite sua senha:"
                            field="Senha"
                            id="password"
                            type="password"
                            [control]="$any(loginForm.get('password'))"
                            hint="Esqueceu a senha? Clique aqui"
                        ></app-form-field>


                    </div>

                    <div>
                        <label>
                            <input type="checkbox" formControlName="rememberMe"> Lembrar-me
                        </label>
                    </div>

                    <div class="content__button__container">
                        <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Entrar</button>
                    </div>
                </form>
            </div>

                        <p *ngIf="errorMessage">{{ errorMessage }}</p>

            <mat-card-footer>
                <div class="footer__container">
                    <p><a [routerLink]="['/register']">Não tem uma conta? Registre-se!</a></p>
                </div>
            </mat-card-footer>
        </div>
    </mat-card-content>
</mat-card>
