<div>
    <h1>Login</h1>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Digite seu email:</mat-label>
                    <input matInput
                           id="login"
                           type="email"
                           formControlName="login"
                    >
                </mat-form-field>
                <div *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched">
                    <small *ngIf="loginForm.get('login')?.errors?.['required']">Email é obrigatório.</small>
                    <small *ngIf="loginForm.get('login')?.errors?.['email']">Formato de email inválido.</small>
                </div>
            </div>

            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Digite sua senha:</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'"
                           id="password"
                           type="password"
                           formControlName="password"
                    />
                    <button
                            mat-icon-button
                            matSuffix
                            (click)="clickEvent($event)"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide()"
                    >
                        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <small *ngIf="loginForm.get('password')?.errors?.['required']">Senha é obrigatória.</small>
                    <small *ngIf="loginForm.get('password')?.errors?.['minlength']">A senha deve ter no mínimo 6
                        caracteres.</small>
                </div>
            </div>

            <div>
                <label>
                    <input type="checkbox" formControlName="rememberMe"> Lembrar-me
                </label>
            </div>

            <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
        </form>
    </div>

    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <p>Não tem uma conta? <a [routerLink]="">Registre-se aqui</a></p>
</div>
