<div class="dashboard-container">
    <div class="dashboard-grid">
        <div class="dashboard-card">
            <div class="inner-card">
                <h2>Minha carteira</h2>
                <div class="card-content">
                    <app-total-balance></app-total-balance>
                </div>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="inner-card">
                <h2>Análise de Despesas</h2>
                <div class="card-content">
                    <app-expense-analysis></app-expense-analysis>
                </div>
            </div>
        </div>
    </div>

    <div class="transactions-section">
        <app-transactions-history></app-transactions-history>
    </div>
</div>
