<mat-card class="total-balance-card">
    <mat-card-header>
        <mat-card-title>Saldo Total</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="isLoading">Carregando...</div>
        <div *ngIf="!isLoading">
            <div class="balance-amount">
                {{ totalBalance | currency:'BRL' }}
            </div>
            <div class="balance-details">
                <div class="income">
                    <span class="label">Ganhos Totais:</span>
                    <span class="value">{{ totalIncome | currency:'BRL' }}</span>
                </div>
                <div class="expenses">
                    <span class="label">Despesas Totais:</span>
                    <span class="value">{{ totalExpenses | currency:'BRL' }}</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
