/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: underline; color: inherit; }
a:hover { text-decoration: none; color: rgba(0, 112, 128, 0.78)
}
