<mat-card>
    <mat-card-header>
        <mat-card-title>Histórico de Transações</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
                <mat-cell *matCellDef="let transaction" class="mat-column-type">
                    <mat-icon class="transaction-icon" [ngClass]="transaction.type">
                        {{transaction.type === 'INCOME' ? 'arrow_upward' :
                           transaction.type === 'EXPENSE' ? 'arrow_downward' :
                           transaction.type === 'SAVING' ? 'savings' : 'sync_alt'}}
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
                <mat-cell *matCellDef="let transaction" class="mat-column-title">{{transaction.title}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
                <mat-cell *matCellDef="let transaction" class="mat-column-description">{{transaction.description}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="moment">
                <mat-header-cell *matHeaderCellDef>
                    Data <mat-icon class="sort-icon">arrow_downward</mat-icon>
                </mat-header-cell>
                <mat-cell *matCellDef="let transaction" class="mat-column-moment">
                    {{transaction.moment | date:'dd/MM/yyyy HH:mm:ss'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="transactionValue">
                <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
                <mat-cell *matCellDef="let transaction" class="mat-column-transactionValue">
                    <span class="value-cell" [ngClass]="transaction.type">
                        {{transaction.transactionValue | currency:'BRL'}}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="recurring">
                <mat-header-cell *matHeaderCellDef>Recorrente</mat-header-cell>
                <mat-cell *matCellDef="let transaction" class="mat-column-recurring">
                    <mat-icon *ngIf="transaction.recurring" class="recurring-icon recurring-yes">check_circle</mat-icon>
                    <mat-icon *ngIf="!transaction.recurring" class="recurring-icon recurring-no">cancel</mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator
            [length]="totalElements"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="onPageChange($event)"
            aria-label="Select page">
        </mat-paginator>
    </mat-card-content>
</mat-card>
